/* General */
body {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: white;
}

/* Navbar */
.navbar-brand {
  color: #2f2f2f; /* dark slate */
  transition: color 0.3s ease-in-out;
}
.navbar-brand:hover {
  color: #8f277a;
}
.navbar .nav-link {
  color: #2f2f2f;
  transition: color 0.3s ease-in-out;
}
.navbar .nav-link:hover {
  color: #8f277a;
}

/* Buttons */
.btn-brand {
  background-color: #a9338f;
  color: white;
  border: none;
}
.btn-brand:hover {
  background-color: #8f277a;
  color: white;
}

/* Tech Icons Hover */
.tech-icon i {
  transition: transform 0.4s ease-in-out;
}
.tech-icon i:hover {
  transform: translateY(-5px) scale(1.15);
}

/* Footer */
footer {
  background-color: #f8f9fa;
  padding: 1rem;
  border-top: 2px solid #8f277a;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
